<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="targetSynapseDW" connectionString="Server=[server];Initial Catalog=[sqlpoolname];Persist Security Info=False;User ID=[userId];Password=[password];MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="sqlScriptPath" value="C:\faketestcases\"/>
  </appSettings>
</configuration>